.main-layout {
  display: flex;
  min-height: 100vh;
  color: #f74780;
}

.main-content {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  background-color: #FFE0EA;
}

.content-wrapper {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #FFE0EA;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
  
  .content-wrapper {
    margin-top: 1rem;
    background-color: #FFE0EA;
  }
}